<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="silvino-header">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `silvino-header`
     * silvino-header
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SilvinoHeader extends Polymer.Element {
      static get is() { return 'silvino-header'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'silvino-header'
          }
        };
      }
    }

    window.customElements.define(SilvinoHeader.is, SilvinoHeader);
  </script>
</dom-module>
