<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="silvino-header">
  <template>
    <style>
      :host {
        display: block;
      }
      :host .tituloprincipal{
        background: green;
        color: white;
        height: 60px;
        border-radius: 10px;
      }
      :host .tituloprincipal ul{
        margin: 10px;
        padding: 10px;
        list-style: none;
      }
      :host .tituloprincipal ul li{
        display: inline;
        line-height: 10px;
      }
      :host .tituloprincipal ul li img{
        display: block;
        text-decoration: none;
      }
      :host .tituloprincipal ul li img:hover{
        background: none;
      }
      :host .img1{
        float: left;
        text-decoration: none;
        width: 50px;
        height: 50px;;
      }
      :host .img2{
        float: right;
        text-decoration: none;
        width: 50px;
        height: 50px;
      }
      :host h1{
        display: inline;
        padding-left: 350px;
      }
    </style>
          <div class="tituloprincipal">
            <ul>
              <li><a href="#"><img src="../../images/menu.png" class="img1"></a></li>
              <li><h1>Bienvenido</h1></li>
              <li>
                <a href="#"><img src="../../images/exit.png" class="img2" title="Cerrar sesión">
              </a></li>
            </ul>
            </div>
  </template>

  <script>
    /**
     * `silvino-header`
     * silvino-header
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SilvinoHeader extends Polymer.Element {
      static get is() { return 'silvino-header'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'silvino-header'
          }
        };
      }
    }

    window.customElements.define(SilvinoHeader.is, SilvinoHeader);
  </script>
</dom-module>
